@import 'mixins';

.box {
    display: flex;
    align-items: center;

    .loginPanel {
        width: 300px;
        height: 300px;
        border: 2px solid $second-color;
        border-radius: 6px;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        p {
            font-size: 20px;
            color: $second-color;
        }

        input {
            width: 80%;
            height: 40px;
            border: 1px solid $second-color;
            border-radius: 6px;
            padding: 5px;
            font-size: 15px;
        }

        .submit {
            width: 100px;
            height: 40px;
            border: 1px solid $second-color;
            background-color: $second-color;
            color: $first-color;
            border-radius: 6px;

        }

        ::placeholder {
            color: $third-color;
            font-size: 15px;
            margin-left: 5px;
            padding: 0 5px;
        }

        .submit:hover {
            cursor: pointer;
        }
    }
}

@include media-sm {
    .box {
        height: 100vh;
    }
}

@include media-md {
    .box {
        height: 90vh;
    }
}