@import 'mixins';

.topbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $second-color;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style-type: none;

        li {
            height: 100%;
            width: 50px;
            @include center;

            a {
                text-decoration: none;

                i {
                    color: $first-color;
                }
            }
        }
    }

}

@include media-sm {
    .topbar {
        .logo {
            width: 40%;
            padding: 10px;

            img {
                height: 90%;
            }
        }

        .menu {
            width: 60%;

            li {
                margin-right: 10px;

                i {
                    font-size: 15px;
                }
            }
        }
    }
}

@include media-md {
    .topbar {
        .logo {
            width: 30%;
            padding: 10px;

            img {
                height: 80%;
            }
        }

        .menu {
            width: 70%;

            li {
                margin-right: 10px;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}

@include media-md {
    .topbar {
        .logo {
            width: 30%;
            padding: 10px 0 10px 20px;

            img {
                height: 90%;
            }
        }

        .menu {
            width: 80%;

            li {
                margin-right: 20px;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}