@mixin media-sm {
    @media screen and (min-width:200px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width:800px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width:1200px) {
        @content;
    }
}

@mixin input {
    font-size: 15px;
    border: none;
    border-bottom: 1px solid $second-color;
    padding: 5px;
}

@mixin option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 15px;
    border-bottom: 1px solid $second-color;
    padding: 5px;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}