@import 'mixins';

.containerR {
    display: grid;
    min-height: 50vh;
    margin: 25px auto 10px auto;
    grid-gap: 10px;
    overflow-x: hidden;

    .headingR {
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    .nameR,
    .surnameR,
    .dayR,
    .hourR,
    .payment,
    .expenses {
        @include input;
        justify-self: center;
    }

    .fuel,
    .rideRealized,
    .kind,
    .traningForm {
        justify-self: center;
        @include option;

        .custom-select {
            height: 80%;
            width: 100px;
            border: 1px solid $second-color;
        }
    }


    .settleRide {
        @include center;
        justify-self: center;
        background: $second-color;
        border: 1px solid $second-color;
        border-radius: 6px;
        color: $first-color;
        transition: linear .1s;
    }

    .settleRide.white {
        color: $second-color;
        background-color: $first-color;
        height: 40px;
        width: 150px;
    }

    .text {
        color: $third-color;
    }

    .fuel,
    .rideRealized,
    .kind,
    .traningForm,
    .settleRide:hover {
        cursor: pointer;
    }

}

@include media-sm {
    .containerR {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        width: 100vw;

        .headingR {
            font-size: 25px;
            justify-self: center;
        }

        .nameR,
        .surnameR,
        .dayR,
        .hourR,
        .payment,
        .expenses {
            height: 50px;
            width: 90%;
            padding: 5px !important;
            font-size: 15px !important;
        }

        .fuel,
        .rideRealized,
        .kind,
        .traningForm {
            height: 50px;
            width: 90%;
        }

        .settleRide {
            p {
                font-size: 15px;
            }
        }

        ::placeholder {
            font-size: 15px;
        }

        .fas {
            font-size: 20px;
        }
    }
}

@include media-md {
    .containerR {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        width: 60vw;

        .headingR {
            font-size: 25px;
            justify-self: center;
        }

        .nameR,
        .surnameR,
        .dayR,
        .hourR,
        .payment,
        .expenses {
            height: 50px;
            width: 90%;
            padding: 5px !important;
            font-size: 15px !important;
        }

        .fuel,
        .rideRealized,
        .kind,
        .traningForm {
            height: 50px;
            width: 90%;
        }

        .settleRide {
            p {
                font-size: 15px;
            }
        }

        ::placeholder {
            font-size: 15px;
        }

        .fas {
            font-size: 25px;
        }
    }
}

@include media-xl {
    .containerR {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 70vw;
        border: 2px solid $second-color;
        border-radius: 6px;


        .headingR {
            grid-area: 1/1/1/5;
            font-size: 30px;
            margin-left: 20px;
        }

        .nameR,
        .surnameR,
        .dayR,
        .hourR,
        .payment,
        .expenses {
            height: 35px;
            width: 200px;
            padding: 10px !important;
            font-size: 20px;
        }

        .fuel,
        .rideRealized,
        .kind,
        .traningForm {
            height: 35px;
            width: 200px;
        }

        .settleRide {
            grid-area: 5/1/5/1;

            p {
                font-size: 15px;
            }
        }

        ::placeholder {
            font-size: 20px;
        }

        .text {
            font-size: 15px;
            margin-bottom: 10px;
            text-align: center;
        }

        .fas {
            font-size: 30px;
        }
    }
}