@import 'mixins';

.containerR {
    display: grid;
    min-height: 50vh;
    margin: 0 auto;
    grid-gap: 10px;
    overflow-x: hidden;

    .headingR {
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    .nameR,
    .surnameR,
    .dayR,
    .hourR,
    .payment,
    .expenses {
        @include input;
        justify-self: center;
    }

    .fuel,
    .rideRealized,
    .kind,
    .traningForm {
        justify-self: center;
        @include option;

        .custom-select {
            height: 80%;
            width: 100px;
            border: 1px solid $second-color;
        }
    }


    .settleRide {
        @include center;
        justify-self: center;
        background: $second-color;
        border: 1px solid $second-color;
        border-radius: 6px;
        color: $first-color;
        transition: linear .1s;
        height: 40px;
        width: 150px;
    }

    .text {
        color: $third-color;
    }

    .fuel,
    .rideRealized,
    .kind,
    .traningForm,
    .settleRide:hover {
        cursor: pointer;
    }

    a {
        text-decoration: none !important;
    }

    .additionalInfo2 {
        height: 100%;
        color: $second-color;
        justify-self: center;
        border: 2px solid $second-color;
        border-radius: 6px;
    }
}

.hoursform {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: $first-color;
    color: $second-color;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;

    .hoursAmount {
        height: 100%;

        h1 {
            font-weight: 400;
            margin-right: 20px;
        }

        input {
            width: 140px;
            height: 50px;
            padding: 5px;
            font-size: 15px;
            border: 1px solid $second-color;
        }

        input:focus {
            outline: none;
        }

        input[type="number"i] {
            background-color: $first-color;
        }
    }
}

@include media-sm {
    .containerR {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, 1fr);
        width: 100vw;
        margin-top: 25px;
        margin-bottom: 25px;

        .headingR {
            font-size: 25px;
            justify-self: center;
        }

        .nameR,
        .surnameR,
        .dayR,
        .hourR,
        .payment,
        .expenses {
            height: 50px;
            width: 90%;
            padding: 5px !important;
            font-size: 15px !important;
        }

        .fuel,
        .rideRealized,
        .kind,
        .traningForm {
            height: 50px;
            width: 90%;
        }

        .settleRide {
            p {
                font-size: 15px;
            }
        }

        ::placeholder {
            font-size: 15px;
        }

        .fas {
            font-size: 20px;
        }

        .additionalInfo2 {
            width: 80%;
            grid-area: 10/1/15/1;
            padding: 5px;
            font-size: 15px;
        }
    }

    .hoursForm {
        @include center;

        h1 {
            font-size: 15px;
        }

        input {
            width: 100px;
            height: 40px;
        }
    }

}

@include media-md {
    .containerR {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, 1fr);
        width: 60vw;

        .headingR {
            font-size: 25px;
            justify-self: center;
        }

        .nameR,
        .surnameR,
        .dayR,
        .hourR,
        .payment,
        .expenses {
            height: 50px;
            width: 90%;
            padding: 5px !important;
            font-size: 15px !important;
        }

        .fuel,
        .rideRealized,
        .kind,
        .traningForm {
            height: 50px;
            width: 90%;
        }

        .settleRide {
            p {
                font-size: 15px;
            }
        }

        ::placeholder {
            font-size: 15px;
        }

        .fas {
            font-size: 25px;
        }

        .additionalInfo2 {
            width: 90%;
            grid-area: 10/1/15/1;
            padding: 5px;
            font-size: 15px;
        }
    }

    .hoursForm {
        @include center;

        input {
            width: 140px;
            height: 50px;
        }
    }
}

@include media-xl {

    .containerR {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 70vw;
        border: 2px solid $second-color;
        border-radius: 6px;


        .headingR {
            grid-area: 1/1/1/5;
            font-size: 30px;
            margin-left: 20px;
        }

        .nameR,
        .surnameR,
        .dayR,
        .hourR,
        .payment,
        .expenses {
            height: 35px;
            width: 200px;
            padding: 10px !important;
            font-size: 15px;
        }

        .fuel,
        .rideRealized,
        .kind,
        .traningForm {
            height: 35px;
            width: 200px;
        }

        .settleRide {
            grid-area: 5/1/5/1;

            p {
                font-size: 15px;
            }
        }

        ::placeholder {
            font-size: 15px;
        }

        .text {
            font-size: 15px;
            margin-bottom: 10px;
            text-align: center;
        }

        .fas {
            font-size: 30px;
        }

        .additionalInfo2 {
            width: 100%;
            grid-area: 4/2/4/3;
            padding: 5px;
            font-size: 20px;
        }
    }

    .hoursform {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 30px;

        input {
            width: 140px;
            height: 50px;
        }

    }
}