@import 'mixins';

.container {
    display: grid;
    min-height: 60vh;
    margin: 25px auto 10px auto;
    grid-gap: 10px;


    .heading {
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    .datePlace {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .prev2 i {
            margin-right: 20px;
        }

        .next2 i {
            margin-left: 20px;
        }
    }

    .search {
        display: flex;
        align-items: center;
        height: 100%;

        .searchInput {
            padding: 5px;
            width: 80%;
            border: 2px solid $second-color;
            border-radius: 6px;
        }

        i {
            margin-left: 20px;
            width: 20%;
            font-size: 20px;
        }
    }

    .chooseCategory,
    .chooseHour,
    .chooseCar {
        border-bottom: 1px solid $second-color;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .custom-select {
            height: 80%;
            width: 100px;
            border: 1px solid $second-color;
        }
    }

    .city,
    .place,
    .cityPlace {
        position: relative;
        transition: linear .1s;
        text-decoration: none;
        text-align: center;
        display: block;
        user-select: none;
        border-radius: 6px;
        font-size: 15px;
        color: $first-color;
        background-color: $second-color;
        border: 1px solid $second-color;

        h1 {
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-40%, -50%);
            font-size: 15px;
            color: $first-color;
            font-weight: 400;
        }
    }

    .city input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        background-color: $first-color;
    }

    .city input:checked~.checkmark {
        background-color: $first-color;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .city input:checked~.checkmark:after {
        display: block;
    }

    .city .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $second-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .place input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        background-color: $first-color;
    }

    .place input:checked~.checkmark {
        background-color: $first-color;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .place input:checked~.checkmark:after {
        display: block;
    }

    .place .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $second-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .cityPlace input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        background-color: $first-color;
    }

    .cityPlace input:checked~.checkmark {
        background-color: $first-color;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .cityPlace input:checked~.checkmark:after {
        display: block;
    }

    .cityPlace .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $second-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .dateInput {
        border: 2px solid $second-color;
        width: 140px;
        height: 50px;
        padding: 5px;
    }

    .save,
    .changeDate {
        border-radius: 6px;
        background-color: $second-color;
        border: 1px solid $second-color;
        font-size: 15px;
        color: $first-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: linear .1s;
        text-decoration: none;
        text-align: center;
    }

    .clear {
        border-radius: 6px;
        background-color: $second-color;
        font-size: 15px;
        color: $first-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: linear .1s;
        text-decoration: none;
        text-align: center;
        appearance: none;
        border: 1px solid $second-color;
    }

    .clear:focus {
        outline: none;
    }

    .changeDate {
        font-size: 13px;
    }

    .info {
        border: 2px solid $second-color;
        border-radius: 6px;
    }

    .white {
        color: $second-color;
        background-color: $first-color;
    }

    .border {
        border-bottom: 1px solid $second-color;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .text {
        color: $third-color;
    }

    ::placeholder {
        color: $third-color;
    }

    .chooseCategory,
    .chooseHour,
    .chooseCar:hover {
        cursor: pointer;
    }

    .city,
    .place,
    .cityPlace,
    .save,
    .clear:hover {
        cursor: pointer;
    }

    .fas {
        cursor: pointer;
    }
}

@include media-sm {
    .container {
        width: 90vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        border: none;

        .heading {
            grid-area: 1/1/2/1;
            justify-content: center;
            font-size: 25px;
        }

        .datePlace {
            grid-area: 2/1/2/1;
            justify-content: center;
            font-size: 20px;
        }

        .search {
            grid-area: 3/1/3/1;

            .searchInput {

                height: 80%;
                margin-left: 20px;
                font-size: 15px;
            }

            i {
                margin-left: 20px;
                font-size: 20px;
            }
        }

        .name2,
        .surname,
        .phoneNumber {
            font-size: 15px;
            padding: 5px;
        }

        .city,
        .place,
        .cityPlace,
        .save,
        .clear,
        .changeDate {
            width: 150px;
            height: 40px;
            justify-self: center;
            align-self: center;
        }

        .dateInput {
            grid-area: 11/1/12/1;
            align-self: center;
            justify-self: center;
        }

        .info {
            grid-area: 13/1/18/1;
            width: 100%;
            height: 100%;
            padding: 5px;
            font-size: 15px;
        }

        .save {
            grid-area: 20/1/20/1;
        }

        .clear {
            grid-area: 19/1/19/1;
            justify-self: center;
            align-self: center;
        }

        .changeDate {
            grid-area: 18/1/18/1;
        }

        ::placeholder {
            font-size: 15px;
        }

        .text {
            font-size: 15px;
        }

        .fas {
            font-size: 20px;
        }
    }
}



@include media-md {
    .container {
        width: 60vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        border: none;

        .heading {
            grid-area: 1/1/1/2;
            justify-content: center;
            font-size: 20px;
            align-items: center;
        }

        .datePlace {
            grid-area: 1/2/1/3;
            justify-content: center;
        }

        .search {
            grid-area: 1/3/1/3;

            .searchInput {
                height: 70%;
                font-size: 15px;
            }

            i {
                font-size: 25px;
            }
        }

        .name2,
        .surname,
        .phoneNumber {
            font-size: 15px;
            padding: 5px;
        }

        .name2 {
            grid-area: 2/1/2/4;
        }

        .surname {
            grid-area: 3/1/3/4;
        }

        .phoneNumber {
            grid-area: 4/1/4/4;
        }

        .chooseCategory {
            grid-area: 5/1/5/4;
        }

        .chooseCar {
            grid-area: 6/1/6/4;
        }

        .chooseHour {
            grid-area: 7/1/7/4;
        }

        .city,
        .place,
        .cityPlace,
        .clear,
        .changeDate,
        .save {
            width: 150px;
            height: 40px;
            justify-self: center;
            align-self: center;
        }

        .dateInput {
            grid-area: 8/2/8/3;
        }

        .info {
            grid-area: 9/1/13/4;
            width: 100%;
            height: 100%;
            padding: 5px;
            font-size: 15px;
        }

        .save {
            grid-area: 13/1/13/2;
            margin: 0;
        }

        .changeDate {
            grid-area: 13/2/13/3;
        }

        .clear {
            grid-area: 13/3/13/4;
        }

        ::placeholder {
            font-size: 15px;
        }

        .text {
            font-size: 15px;
        }

        .fas {
            font-size: 25px;
        }

    }
}

@include media-xl {
    .container {
        width: 70vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        border: 1px solid $second-color;
        border-radius: 6px;
        overflow: hidden;

        .heading {
            grid-area: 1/1/1/2;
            font-size: 30px;
        }

        .datePlace {
            grid-area: 1/2/1/3;
            font-size: 30px;
        }

        .search {
            .searchInput {
                height: 60%;
                font-size: 20px;
            }

            i {
                font-size: 30px;
            }
        }

        .name2,
        .chooseCategory,
        .phoneNumber,
        .chooseCar,
        .surname,
        .chooseHour {
            width: 300px;
            height: 35px;
            font-size: 20px;
            padding-left: 5px;
        }

        .name2 {
            grid-area: 2/1/2/2;
        }

        .surname {
            grid-area: 2/2/2/3;
        }

        .phoneNumber {
            grid-area: 2/3/2/4;
        }

        .chooseCategory {
            grid-area: 3/1/3/2;
        }

        .chooseCar {
            grid-area: 3/2/3/3;
        }

        .chooseHour {
            grid-area: 3/3/3/4;
        }

        .dateInput {
            grid-area: 4/1/4/2;
        }

        .city,
        .place,
        .cityPlace,
        .save,
        .clear,
        .changeDate {
            width: 150px;
            height: 40px;
        }

        .info {
            grid-area: 5/1/8/3;
            width: 90%;
            height: 100%;
            padding: 10px;
            font-size: 20px;
        }

        .save {
            grid-area: 8/1/8/2;
            margin: 0;
        }

        .changeDate {
            grid-area: 8/2/8/3;
        }

        .clear {
            grid-area: 8/3/8/4;
        }

        ::placeholder {
            font-size: 20px;
        }

        .text {
            font-size: 20px;
            margin-bottom: 0px;
        }

        .fas {
            font-size: 30px;
        }

    }
}