@import 'mixins';

.containerR {
    display: grid;
    min-height: 50vh;
    margin: 25px auto 10px auto;
    grid-gap: 10px;

    .headingR {
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    .nameR,
    .surnameR,
    .dayR,
    .hourR,
    .payment,
    .expenses {
        @include input;
        justify-self: center;
    }

    .fuel,
    .rideRealized,
    .kind,
    .traningForm {
        justify-self: center;

        @include option;
    }

    .options {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        transition: all 0.3s linear;
        border: 0px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .options.rollDown {
        height: 100px;
        border: 1px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .options2 {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        transition: all 0.3s linear;
        border: 0px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .options2.rollDown {
        height: 100px;
        border: 1px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .options3 {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        transition: all 0.3s linear;
        border: 0px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .options3.rollDown {
        height: 100px;
        border: 1px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .options4 {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        transition: all 0.3s linear;
        border: 0px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .options4.rollDown {
        height: 100px;
        border: 1px solid $second-color;
        background-color: $first-color;
        z-index: 3;
    }

    .arrow1.flip {
        transform: rotate(180deg);
    }

    .arrow2 {
        transition: .2s linear;
    }

    .arrow2.flip {
        transform: rotate(180deg);
    }

    .arrow3 {
        transition: .2s linear;
    }

    .arrow3.flip {
        transform: rotate(180deg);
    }

    .arrow4 {
        transition: .2s linear;
    }

    .arrow4.flip {
        transform: rotate(180deg);
    }


    .settleRide {
        @include center;
        justify-self: center;
        background: $second-color;
        border: 1px solid $second-color;
        border-radius: 6px;
        color: $first-color;
    }

    .settleRide.white {
        color: $second-color;
        background-color: $first-color;
    }

    .text {
        color: $third-color;
    }

    .fuel,
    .rideRealized,
    .kind,
    .traningForm,
    .settleRide:hover {
        cursor: pointer;
    }

}

@include media-xl {
    .containerR {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 70vw;
        border: 2px solid $second-color;
        border-radius: 6px;
    }

    .headingR {
        grid-area: 1/1/1/5;
        font-size: 30px;
        margin-left: 20px;
    }

    .nameR,
    .surnameR,
    .dayR,
    .hourR,
    .payment,
    .expenses {
        height: 35px;
        width: 200px;
        padding: 10px !important;
        font-size: 20px !important;
    }

    .fuel,
    .rideRealized,
    .kind,
    .traningForm {
        height: 35px;
        width: 200px;
    }

    .settleRide {
        width: 200px;
        height: 50px;
        grid-area: 5/1/5/1;

        p {
            font-size: 15px;
        }
    }

    ::placeholder {
        font-size: 20px;
    }

    .text {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .fas {
        font-size: 30px;
    }
}