.searchFor {
    width: 80vw;
    height: 5vh;
    margin: 10vh auto;
    border-bottom: 2px solid $second-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        border: none;
        height: 100%;
        width: 95%;
        font-size: 20px;
        color: $third-color;
        padding: 5px;
    }

    .loupe {
        width: 5%;
        height: 100%;
        position: relative;

        input {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            background-color: $first-color;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        input,
        i:hover {
            cursor: pointer;
        }
    }

    ::placeholder {
        font-size: 20px;
        color: $third-color;
    }
}

.student {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    border: 2px solid $second-color;
    text-align: center;

    .choose {
        background-color: $second-color;
        color: $first-color;
        border: 2px solid $second-color;
        border-radius: 6px;
        width: 160px;
        height: 40px;
    }

    button {
        width: 100%;
        height: 100%;
        border: none;
        color: $first-color;
        border-radius: 6px;
    }

    i {
        font-size: 30px;
    }
}

@include media-sm {
    .student {
        width: 90vw;
        height: 70vh;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;

        .fa-user {
            grid-area: 1/1/2/1;
        }

        .name {
            grid-area: 2/1/3/1;
            font-size: 15px;
        }

        .fa-phone-alt {
            grid-area: 1/2/1/3;
        }

        .phone {
            grid-area: 2/2/2/3;
            font-size: 15px;
        }

        .fa-car {
            grid-area: 3/1/3/1;
        }

        .ctg {
            grid-area: 4/1/4/2;
            font-size: 15px;
        }

        .fa-clock {
            grid-area: 3/2/3/3;
        }

        .drivenHours {
            grid-area: 4/2/4/3;
            font-size: 15px;
        }

        .choose {
            grid-area: 5/1/5/3;
        }
    }
}

@include media-md {
    .student {
        width: 80vw;
        height: 50vh;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;

        .fa-user {
            grid-area: 1/1/2/1;
        }

        .name {
            grid-area: 2/1/3/1;
            font-size: 20px;
        }

        .fa-phone-alt {
            grid-area: 1/2/1/3;
        }

        .phone {
            grid-area: 2/2/2/3;
            font-size: 20px;
        }

        .fa-car {
            grid-area: 3/1/3/1;
        }

        .ctg {
            grid-area: 4/1/4/2;
            font-size: 20px;
        }

        .fa-clock {
            grid-area: 3/2/3/3;
        }

        .drivenHours {
            grid-area: 4/2/4/3;
            font-size: 20px;
        }

        .choose {
            grid-area: 1/5/3/5;
        }
    }
}

@include media-xl {
    .student {
        width: 80vw;
        height: 20vh;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);

        .fa-user {
            grid-area: 1/1/2/2;
        }

        .fa-phone-alt {
            grid-area: 1/2/1/3;
        }

        .fa-car {
            grid-area: 1/3/1/4;
        }

        .fa-clock {
            grid-area: 1/4/1/5;
        }

        .name {
            grid-area: 2/1/2/2;
            font-size: 20px;
        }

        .phone {
            grid-area: 2/2/2/3;
            font-size: 20px;
        }

        .ctg {
            grid-area: 2/3/2/4;
            font-size: 20px;
        }

        .drivenHours {
            grid-area: 2/4/2/5;
            font-size: 20px;
        }

        .choose {
            grid-area: 1/5/3/6;
        }
    }

}