@import 'variables';
@import 'menu';
@import 'kalendarz';
@import 'mixins';
@import 'panel';
@import 'login';
@import 'panelR';
@import 'szukaj';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}