@import 'variables';
@import 'menu';
@import 'kalendarz';
@import 'mixins';
@import 'panel';
@import 'login';
@import 'panelR';
@import 'szukaj';
@import 'info';
@import 'dublet';
@import 'showRides';
@import 'adminJazdy';
@import 'adminMenu';
@import 'adminUsers';
@import 'adminKursanci';
@import 'adminRozliczenia';
@import 'adminWolne';
@import 'adminWpłaty';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.backToCalendar {
    width: 40px;
    height: 40px;
    @include center;
    position: fixed;
    top: 17vh;
    right: 5%;
    border-radius: 100px;
    background-color: $second-color;

    i {
        font-size: 20px;
        color: $first-color;
    }
}

.overflow {
    overflow: hidden;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

@include media-sm {
    .backToCalendar {
        display: flex;
    }
}

@include media-md {
    .backToCalendar {
        display: flex;
    }
}

@include media-xl {
    .backToCalendar {
        display: none;
    }
}